PORT=3007
CORS_ORIGIN=*
NODE_ENV=development

KAFKA_CLIENT_ID=announcement-service
KAFKA_BROKERS=localhost:9092
KAFKA_ANNOUNCEMENTS_TOPIC=campus.announcements

KAFKA_CLIENT_ID=notification-service
KAFKA_BROKERS=localhost:9092
KAFKA_CONSUMER_GROUP_ID=notification-service-group
KAFKA_ANNOUNCEMENTS_TOPIC=campus.announcements

DATABASE_URL=postgresql://postgres:postgres@localhost:5435/campus_incidents_db