NODE_ENV=development
PORT=3003

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=smart_campus
DATABASE_PASSWORD=smart_campus
DATABASE_NAME=smart_campus_qr_access
DATABASE_SYNCHRONIZE=true
REDIS_URL=redis://localhost:6379

JWT_SECRET=change-this-secret
JWT_EXPIRES_IN=1h

