PORT=3024
SERVICE_NAME=workflow-service
NODE_ENV=development
DATABASE_URL=postgresql://workflow_user:workflow_password@localhost:5440/workflow_db
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET=change_me
N8N_BASE_URL=http://localhost:5678
N8N_INCIDENT_WEBHOOK_URL=http://localhost:5678/webhook/incident-created-workflow
N8N_USER_REGISTERED_WEBHOOK_URL=http://localhost:5678/webhook/user-registered-workflow
N8N_LIBRARY_LOAN_WEBHOOK_URL=http://localhost:5678/webhook/library-loan-created-workflow
N8N_CRITICAL_NOTIFICATION_WEBHOOK_URL=http://localhost:5678/webhook/critical-notification-workflow
